body {
    font-family: 'Noto Sans KR', sans-serif;
}

code {
    font-family: 'Consolas';

}

div .highlight {
    border-radius: 5%;
}

div .highlight > pre {
    padding: 1em;
}

body {
    width: 85%;
    max-width: calc(100% - 2rem);
    margin: 0 auto;
}

body header {
    font-family: 'Times New Roman';
}

ul {
    padding: 0;
    list-style: none;
}

#my-pic {
    max-width: 8rem;
}

@media screen and (min-width: 768px) {
    #personal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #my-pic {
        grid-column: 1 / 2;
        max-width: 100%;
        margin: auto;
    }

    #info {
        grid-column: 2 / 2;
    }
}