body {
    font-family: 'Noto Sans KR', sans-serif;
}

code {
    font-family: 'Consolas';

}

div .highlight {
    border-radius: 5%;
}

div .highlight > pre {
    padding: 1em;
}

body {
    width: 85%;
    max-width: calc(100% - 2rem);
    margin: 0 auto;
}

body header {
    font-family: 'Times New Roman';
}

